@inherits WAComponentBase
    <div class="@ClassNames" style="@StyleNames" slot="@Slot">
        @ChildContent
    </div>

@code {

    [Parameter]
    public Enums.LayoutSlot LayoutSlot { get; set; }
    new string Slot
    {
        get
        {
            return LayoutSlot switch
            {
                Enums.LayoutSlot.Banner => "banner",
                Enums.LayoutSlot.Header => "header",
                Enums.LayoutSlot.SubHeader => "subheader",
                Enums.LayoutSlot.Menu => "menu",
                Enums.LayoutSlot.NavigationHeader => "navigation-header",
                Enums.LayoutSlot.Navigation => "navigation",
                Enums.LayoutSlot.NavigationFooter => "navigation-footer",
                Enums.LayoutSlot.NavigationToggle => "navigation-toggle",
                Enums.LayoutSlot.NavigationToggleIcon => "navigation-toggle-icon",
                Enums.LayoutSlot.MainHeader => "main-header",
                Enums.LayoutSlot.MainFooter => "main-footer",
                Enums.LayoutSlot.Aside => "aside",
                Enums.LayoutSlot.SkipToContent => "skip-to-content",
                Enums.LayoutSlot.Footer => "footer",
                Enums.LayoutSlot.MainContent => "",
                _ => ""
            };
        }
    }

    //new public string? Slot;
}
