    <WADialog @ref="dialog" Title="@_title" DialogClosed="DialogClosed" >
        <HeaderActions></HeaderActions>
        <DialogBody>
            <p>@_message</p>
        </DialogBody>
        <DialogFooter>
            <div class="wa-cluster">
                <WAButton OnClick="() => Confirm(false)" Variant="ButtonVariant.Neutral">@_declineText</WAButton>
                <WAButton OnClick="() => Confirm(true)" Variant="ButtonVariant.Brand">@_confirmText</WAButton>
            </div>
        </DialogFooter>
    </WADialog>


@code {
    [Inject] private ConfirmDialogService _confirmDialog { get; set; } = default!;
    private IDisposable? _subscription;
    private string _title = "";
    private string _message = "";
    private string _confirmText = "Yes";
    private string _declineText = "No";
    private bool _visible = false;
    private WADialog dialog = default!;

    protected override async Task OnInitializedAsync()
    {
        _subscription = _confirmDialog.RegisterHandler(ShowDialog);
    }

    private async Task ShowDialog(DialogRequest request)
    {
        _title = request.Title;
        _message = request.Message;
        _confirmText = request.ConfirmText ?? "Yes";
        _declineText = request.DeclineText ?? "No";
        _visible = true;
        await InvokeAsync(StateHasChanged);
        dialog.Show();
    }

    private void Confirm(bool result)
    {
        _visible = false;
        dialog.Hide();
        if (_confirmDialog is ConfirmDialogService svc)
        {
            svc.SetResult(result);
        }
    }

    private void DialogClosed(string elementId)
    {
        Console.WriteLine($"Dialog closed via {elementId}");
        if(_visible) Confirm(false);
    }

    public void Dispose()
    {
        _subscription?.Dispose();
    }


}